snippet snip "Description"
snippet ${1:Tab_trigger} "${2:Description}" !b
${3:AddComment}
${4:endsnippet}
endsnippet

snippet bug "Add a bug sign" b


/*	Bug: Needs to be fixed: 
 *  Introcuded By:  `echo $USER` 
 *	Time: `!v strftime("%c")`
 *	Attention: For Next Time Fix
 */

endsnippet
