snippet main "main in C" !b
int main(int argc, char *argv[]){
	$1
}
endsnippet
snippet std "include" !b
#include <stdio.h>
$1
endsnippet
snippet all "pattern in c" !b
#include<stdlib.h>
#include<stdio.h>
#include<sys/types.h>
#include<signal.h>
$1
endsnippet
