snippet sh "A quick start for shell script" !b
#! /bin/bash 
# Description:${1:Say Something Helpful for Better Understanding!!!} 
# DateTime: `date "+%Y-%m-%d %H:%M"`
# Created:  `echo $USER`
endsnippet
